<h1>Lost and Found app</h1>
{{! This is the main layout template. It defines the overall structure of the HTML page. }}
{{!-- The {{{body}}} placeholder will be replaced by the content of the specific view being rendered. --}}
{{{body}}}
